@import "../../../styles.scss";

.container-cloud-generator {
  background-color: $background-color-primary;

  .cloud-generator {
    height: 100vh;
    @include flex(column, space-between, center, nowrap);
    background-image: url("../../../assets/images/svg/background-second.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__header {
      width: 100%;
      p {
        @include flex(row, center, center, nowrap);
        font-size: 50px;
        font-weight: bold;
        padding: 0.8em 0;
        color: $text-color-primary;
      }
    }

    &__content {
      width: 100%;
      .cloud-configuration {
        @include flex(column, flex-start, center, nowrap);
        &__options {
          width: 80%;
          background: rgba(255, 255, 255, 0.28);
          border-radius: 16px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(5.5px);
          -webkit-backdrop-filter: blur(5.5px);
          border: 1px solid rgba(255, 255, 255, 0.16);
          transition: all 0.3s ease-in-out;

          .card-options {
            @include flex(row, center, center, wrap);
            @include ng-select();
            padding: 1em;
            gap: 1em;
            transition: height 0.3s ease-in-out;

            .image-size,
            .font-size,
            .select,
            .text,
            .single-word,
            .generate-btn {
              @include flex(row, center, center, wrap);
              gap: 1em;
              font-size: 18px;
              color: $text-color-primary;

              label {
                font-weight: 600;
              }

              input,
              textarea {
                outline: none;
                font-size: 16px;
                border: 1px solid $border-select-color;
                border-radius: 4px;
                padding: 9px;
                color: $text-color-primary;
                font-family: "Mulish";
              }
            }

            .text,
            .single-word {
              textarea {
                resize: none;
              }

              .mat-icon {
                cursor: pointer;
                height: 30px;
                width: 30px;
                font-size: 30px !important;
                color: $text-color-primary;
                transition: all 0.2s ease-in-out;
                font-size: 25px;
              }

              .mat-icon:hover {
                transform: rotate(90deg);
                color: black;
              }
            }
          }
        }

        &__show {
          width: 80%;
          height: 50vh;
          @include flex(row, center, center, nowrap);
        }
      }
    }

    &__footer {
    }
  }
}
