@import '../../../styles.scss';

.container-cloud-generator{
    background-color: $background-color-primary;

    .cloud-generator{
        height: 100vh;
        background: url('../../../assets/images/background-one.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &__header{
            width: 100%;
            height: 15em;
            background: url('../../../assets/images/background-second.svg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}