<div class="container-cloud-generator">
    <div class="cloud-generator">
        <div class="cloud-generator__header">
            <p>Cloud Generator</p>
        </div>
        <div class="cloud-generator__content">
            <div class="cloud-configuration">
                <div class="cloud-configuration__options">
                    Single word
                    Long text
                    Font size
                    Image Size
                    Generate
                </div>
                <div class="cloud-configuration__show">
                    Image
                </div>
                <div class="cloud-configuration__download">
                    Download
                </div>
            </div>
        </div>
        <div class="cloud-generator__footer">
            <span>
                <img src="../../../assets/images/png/cloud128x128.png" alt="">
            </span>
        </div>
    </div>
</div>
<!-- <div *ngIf="urlCloudWord">
    <img [src]="urlCloudWord" alt="cloud" />
    <a [href]="urlCloudWord"
    target="_blank"
    download="wordCloud.png"
    >Download Now</a>
</div> -->
